        .hotel {
            
            min-height: 100vh;
            width: 100vw;
            background-color: grey;
            
        }
        .greeting {
            
            width: 30vw;
            min-width: 440px;
            text-align: center;
            margin: 0 auto;
            font-size: 40px;
            
        }
        /* room1, room2, room3Ïùò parent box model */
        .rooms {
            
            width: 70vw;
            min-width: 400px;
            margin: auto;
            text-align: center;
            
        }
        .room1, .room2, .room3{
            background-color: white;
            
            display: inline-block;
            vertical-align: top;
            height: 600px;
            width: 350px;
            margin: 10px 30px;
           
        }
        .room1 .picture1, .room2 .picture2, .room3 .picture3 {
            /* [class^=picture] {*/
            width: 100%;
            height: 50%;
            background-size: 100% 100%; 
            background-repeat: no-repeat;
            margin: 0;
            
            
        }
        .picture1{
            background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/34.jpg");
        }
        .picture2 { 
            background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg");
        }
        
        .picture3 {
            background-image: url("https://assets.nicepagecdn.com/d2cc3eaa/88834/images/4.jpg");
        }
        .source {
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 50px auto;
        line-height: 200px;
        
    }
 .room1 a, .room2 a, .room3 a, .room1 div, .room2 div, .room3 div{
            text-align: center;
            margin: 35px auto;
            font-size: 20px;
            
        }

/* a tag font deco*/
    .a1, .a2, .a3 {
        color: black;
        text-decoration: none;
    }
    .a2, .a3 {
        text-decoration: underline;
        text-decoration-color: red;
    }

    .a2:hover {
        text-decoration: underline;
        text-decoration-color: black ;
    }
    .a3:hover {
        text-decoration: underline;
        text-decoration-color: black ;
    }
    .a2:visited .a3:visited{
        color: black;
        text-decoration: underline;
        text-decoration-color: red;
    }