/* 큰 박스 하나
    인라인 박스 둘로 양쪽으로 나눔
    왼쪽에 이미지랑. 헤드. 내용
    오른쪽은 칸을 두 개로 나눔.
    그후 위의 것을 인라인 블록으로 나누면 됨.
*/

.box1 {border: 1px solid red; height: 100%; width:80%; min-width: 500px; margin: 20px auto 0; padding: 0px; text-align: center; box-sizing: border-box;}
.box1-1, .box1-2 {border: 1px solid red; display: inline-block; width: 480px; height: 100%; vertical-align: top; text-align: left;}


.content1-1, .content1-2 {border: 1px solid red; display: inline-block; width: 45%; box-sizing: border-box;}
.box1-1 .content1 {border: 1px solid red; height: 50%; display: inline-block; box-sizing: border-box;}
.box1-1 .content2 {border: 1px solid red; margin-top: 50px; display: inline-block; box-sizing: border-box;}

[src] {width: 100%;}
.box1-1 .content1{height: 500px;}
.box1-1 .content1 img {height: 100%;}
.box1-2 .content2 img, .box1-2 .content1-1 img, .box1-2 .content1-2 img { height: 100%;}
.box1-1 .content1 { width: 100%;}
.box1-2 {padding-top: 100px ;}
.box1-2 .content1-1 {height: 300px; width: 45%;} 
.box1-2 .content1-2 {height: 150px;}
.box1-2 .content2 {height: 380px; width: 80%;}

.content1-1, .content1-2, .box1-2 .content2 {margin: 10px;}

