/*  메뉴판을 만들어야한다.
    목록이 있어야 한다.
    마우스를 올렸을 때 숨겨져 있던 메뉴가 나타난다.
    메뉴가 나타났을 때 아래쪽 블럭이 밀려서는 안된다.
    레이어가(정확한 명칭인지 모름) 달라야 이것들이 밀리지 않는다.
    position: absolute로 레이어를 나눠야 한다.
    어디에 숨길 것인가? 화면 밖에 있을까?
*/
/* 누르면 옆으로 밀려나는 박스 만들어보자 */

.menuhead {
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    
}

.menuhead li {
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    height: 40px;
    width: 16%;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}
.menuhead:hover+.menubody{
    display: block;
}
.menubody:hover{
    display: block;
}

.menubody {
    border: 1px solid black;
    background-color: white;
    height: 300px;
    font-size: 0px;
    display: none;
    position: fixed;
    width: 100%;
    top: 45px;
}
.menubody > li > ul {
    width: 16%;
    height:  270px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid red;
    vertical-align: top;
}
.menubody > li > ul >li {
    box-sizing: border-box;
    border: 1px solid green;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    list-style-type: none;
    padding-left:  0;
    margin-left: 0;
}

.menubody a {
    text-decoration: none;
    color: black;
}

.menuhead a{
    text-decoration: none;
    color: white;
}
